@using BlacksmithManagerWeb.Data

@page "/RClientes"

<h1>Registro de Clientes</h1>

<p>Current count: @currentCount</p>

<EditForm Model="@Cliente" OnInvalidSubmit="@IncrementCount">
    <DataAnnotationsValidator/>

    <div class="form-group">
        <label for="Nombres">Nombres</label>
        <input @bind-value="Cliente.Nombres" class="form-control col-6" />
        <ValidationMessage For="@(() => Cliente.Nombres)"/>
    </div>

    <div class="form-group">
        <label for="Cedula">Cedula</label>
        <input @bind-value="Cliente.Cedula" placeholder="000-0000000-0" class="form-control col-6" />
        <ValidationMessage For="@(() => Cliente.Cedula)" />
    </div>

    <div class="form-group">
        <label for="Celular">Celular</label>
        <input @bind-value="Cliente.Celular" placeholder="000-000-0000" class="form-control col-6" />
        <ValidationMessage For="@(() => Cliente.Celular)" />
    </div>

    <div class="form-group">
        <label for="Telefono">Telefono</label>
        <input @bind-value="Cliente.Telefono" placeholder="000-000-0000" class="form-control col-6" />
        <ValidationMessage For="@(() => Cliente.Telefono)" />
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input @bind-value="Cliente.Email" placeholder="Ejemplo@hotmail.com " class="form-control col-6" />
        <ValidationMessage For="@(() => Cliente.Email)" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
</EditForm>


<button class="btn btn-primary" @onclick="IncrementCount">Guardar</button>

@code {
    private Clientes Cliente = new Clientes();
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        Contexto contexto = new Contexto();
        


       
        /*Contexto contexto = new Contexto();

        contexto.Clientes.Add(new Clientes()
        {
            Nombres = "Jonathan Maria",
            Cedula = "402-2642060-8",
            FechaIngreso = "01/27/2020",
            Celular = "829-418-7599",
            Telefono = "809-725-0440",
            Email = "ymphabbo@hotmail.com"
        });
        contexto.SaveChanges();*/
        
         
         
         

    }
}
